/*!
 * ricenoodle v1.1.0
 */.divider{display:block;height:1px;border-top:1px solid #dee2e6;margin-top:20px;margin-bottom:20px}.divider-lg{margin-top:40px;margin-bottom:40px}.divider-sm{margin-top:10px;margin-bottom:10px}.divider-bold{height:2px;border-top-width:2px}